.custom-autocomplete-panel {
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 6px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  max-height: 250px;
  overflow-y: auto; 
  z-index: 9999; 
}


.custom-autocomplete-item {
  padding: 10px 15px;
  font-size: 14px;
  color: #333; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.custom-autocomplete-item:hover {
  background-color: #f4f4f4; 
}


.input {
  border-radius: 4px;
  padding: 10px 15px; 
  font-size: 16px; 
  border: 1px solid #dbdbdb; 
}

.input:focus {
  border-color: #3273dc; 
  box-shadow: 0 0 0 0.2rem rgba(50, 115, 220, 0.25);
}


.dropdown-bulma {
  width: 100%;
  border: 1px solid #dbdbdb; 
  border-radius: 4px; 
  padding: 0.375rem 0.75rem;
  font-size: 1rem; 
  color: #363636; 
  background-color: white; 
  box-shadow: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}


.dropdown-bulma:hover {
  border-color: #b5b5b5; 
}

.dropdown-bulma:focus-within {
  border-color: #00d1b2; 
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25); 
}

/* Label dentro do Dropdown */
.dropdown-bulma .p-dropdown-label {
  font-size: 1rem; 
  font-weight: normal; 
  color: #363636; 
}


.dropdown-bulma .p-dropdown-trigger {
  background-color: transparent;
  border: none; 
}
